#allProducts {
    overflow: hidden;
    padding: 80px 0;
    h2 {
        letter-spacing: 2px;
    }
    img {
        padding: 1rem 0;
        text-align: center;
        margin: auto;
        max-width: 50%;
    }
}