#navbar {
    position: fixed;
    overflow: hidden;
    color: #ddd;
    background: #00007c;
    width: 100%;
    .countNumber {
        font-weight: 600;
        position: absolute;
        top: 25%;
        right: 11.5%;
        font-size: 1rem;
        background: #ff0000;
        height: 1.5rem;
        width: 1.5rem;
        text-align: center;
        line-height: 1.5;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}